{% extends "blog/base.html" %}

{% block content %}

<!-- début de la boucle for (for loop)-->
{% for post in posts %}
<a class="content-article" href="{% url 'post-detail' post.id %}">
    <article class="media content-section">
        <!-- show the profile picture of the authors next to the posts-->
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">

        <div class="media-body">
            {% if user.is_authenticated %} <!-- si l'utilisateur est connecté -->
                    <form action="{% url 'add-post-in-watchlist' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <button class="btn btn-outline-warning m-1" id="btnFav1" type="submit" >
                        <i class="fa fa-star" style="font-size:20px;"></i>
                    </button>
                </form>
            {% endif %}
            <div class="article-metadata">
                    <!-- <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>-->
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h5 class="display-5">{{ post.title }}</h5>
            <!-- <h5 class="display-5"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h5> -->
            <!-- post.id sert à identier la pk (voir urls.py -> urlpatterns) -->
            <h2 class="article-content">€ {{ post.price }}</h2>
            <h5 class="article-content">{{ post.get_sell_rent_display }}</h5>
        </div>
        <img class="rounded float-left ml-3 mr-3" src="{{ post.image.url }}">
    </article>
</a>
{% endfor %}
<!-- fin de la boucle for -->

<!-- PAGINATION -->
{% if is_paginated %} <!-- s'il y a plusieurs pages -->

        {% if page_obj.has_previous %} <!-- s'il y'a des pages avant la page actuelle -->
                <a class="btn btn-outline-dark mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %} <!-- s'il y'a des pages après la page actuelle -->
                <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

{% endif %}

<!-- FIN PAGINATION -->

</div>
<!-- Sidebar -->
        <section class="col-md-4">
            <div class="content-section">
                <h3>Filters</h3>

                <form action="{% url 'blog-filter' %}" method=GET>
                    {% csrf_token %}
                    <h6 class="font-weight-bold mb-3">Price</h6>
                    <div class="d-flex align-items-center mt-4 pb-1">
                        <div class="md-form md-outline my-0">
                            <input class="form-control mb-0" name="priceMin" placeholder="$ min">
                        </div>
                        <p class="px-2 mb-0 text-muted"> - </p>
                        <div class="md-form md-outline my-0">
                            <input class="form-control mb-0" name="priceMax" placeholder="$ max">
                        </div>
                    </div>
                    <h6 class="font-weight-bold mb-3">Place</h6>
                    <input aria-label="Search" class="form-control me-2" name="localisation" placeholder="Search for a place"
                           type="search">

                    <h6 class="font-weight-bold mb-3">Sell or rent</h6>
                    <div class="form-group">
                        <select class="form-control" name="sellOrRent" >
                            <option>Choose an option</option>
                            <option value='S'>To Sell</option>
                            <option value='R'>To Rent</option>
                        </select>
                    </div>
                    <h6 class="font-weight-bold mb-3">Category</h6>
                    <div class="form-group">
                        <select class="form-control" name="category" >
                            <option>Choose an option</option>
                            <option value='H'>House</option>
                            <option value='A'>Apartment</option>
                            <option value='G'>Garage</option>
                        </select>
                    </div>
                    <h6 class="font-weight-bold mb-3">Surface</h6>
                    <div class="d-flex align-items-center mt-4 pb-1">
                        <div class="md-form md-outline my-0">
                            <input class="form-control mb-0"  name="surfaceMin" placeholder="min" type="text">
                        </div>
                        <p class="px-2 mb-0 text-muted"> - </p>
                        <div class="md-form md-outline my-0">
                            <input class="form-control mb-0" name="surfaceMax" placeholder="max" type="text">
                        </div>
                    </div>
                    <button class="btn btn-outline-dark" type="submit">Search</button>

                </form>
            </div>
        </section>

{% endblock content %}
