{% extends "blog/base.html" %}

{% block content %}

<!-- début de la boucle for (for loop)-->
{% for post in posts %}
<article class="media content-section">
    <!-- show the profile picture of the authors next to the posts-->
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
        {% if user.is_authenticated %} <!-- si l'utilisateur est connecté -->
        <form action="{% url 'add-post-in-watchlist' %}" method="POST">
            {% csrf_token %}
            <input hidden name="post_id" type="text" value="{{ post.id }}">
            <button class="btn btn-outline-warning m-1" id="btnFav1" type="submit">
                <i class="bi bi-star-fill"></i>
            </button>
        </form>
        {% endif %}


        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
        <h5 class="display-5"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h5>
        <!-- post.id sert à identier la pk (voir urls.py -> urlpatterns) -->
        <h2 class="article-content">{{ post.price }} €</h2>
        <h5 class="article-content">{{ post.get_sell_rent_display }}</h5>

        <button class="btn btn-primary" data-target="#Modal" data-toggle="modal" >
            Map
        </button>

        <!-- Modal -->
        <div class="modal fade" id="Modal" role="dialog"
             tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Modal title</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div id='map' style='width: 400px; height: 300px;'></div>
                        <script>
                            mapboxgl.accessToken = 'pk.eyJ1Ijoic2FuZGllZ28xOCIsImEiOiJja3d4bGc2a3IwZHc3MnZsY2k1aGsycHE2In0.pHBEi0TiJZrYk0vIggf-7Q';
                            var map = new mapboxgl.Map({
                                container: 'map', // container ID
                                style: 'mapbox://styles/mapbox/streets-v11', // style URL
                                center: [{{post.long}},{{post.lat}}], // starting position [lng, lat]
                                zoom: 13 // starting zoom
                            });
                        </script>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <img class="rounded float-left ml-3 mr-3" src="{{ post.image.url }}">
</article>

{% endfor %}
<!-- fin de la boucle for -->

<!-- PAGINATION -->
{% if is_paginated %} <!-- s'il y a plusieurs pages -->

{% if page_obj.has_previous %} <!-- s'il y'a des pages avant la page actuelle -->
<a class="btn btn-outline-dark mb-4" href="?page=1">First</a>
<a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

{% if page_obj.has_next %} <!-- s'il y'a des pages après la page actuelle -->
<a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
<a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}

{% endif %}

<!-- FIN PAGINATION -->

{% endblock content %}
