{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <!-- show the profile picture of the aunthors next to the posts-->
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
            {% if user.is_authenticated and object.author != user %} <!-- si l'utilisateur est connecté -->
                <a class="text-right btn btn-success btn-sm mt-1 mb-1" href="#" >Add to Watchlist</a>
            {% endif %}
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                {% if object.author == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h5 class="display-5">{{ object.title }}</h5>
            <h3 class="article-content">{{ object.price }} € </h3>
            <h5 class="article-content">{{ object.get_sell_rent_display }}</h5>
            <p class="article-content">{{ object.content }}</p>
        </div>
        <img class="rounded float-left ml-3 mr-3" src="{{ post.image.url }}">
    </article>
{% endblock content %}
