{% extends "blog/base.html" %}
{% block content %}
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

<!-- cards https://getbootstrap.com/docs/4.0/components/card/-->
<div class="row">
    <div class="col-sm-10 mt-4 ">
        <div class="card">
            <div class="card-header bg-danger text-white">
                Stats
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 ">
                            <div class="card my-card shadow">
                                <div class="card-body text-center bg-info">
                                    <h4 class="text-white">Posts in total</h4>
                                    <h3>{{ numPosts }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                   <div class="col-md-4 ">
                            <div class="card my-card shadow">
                                <div class="card-body text-center bg-info">
                                    <h4 class="text-white">Your Posts</h4>
                                    <h3>{{ numPostsUser }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                   <div class="col-md-4 ">
                            <div class="card my-card shadow">
                                <div class="card-body text-center bg-info">
                                    <h4 class="text-white">Posts in your watchlist</h4>
                                    <h3>{{ numWatchlist }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 mt-4">
        <table class="table">
            <thead>
              <tr>
                <th class="bg-danger text-white">Title</th>
                <th class="bg-info text-white">Views</th>
              </tr>
            </thead>
            {% for post in postUser%}
              <tr>
                <td class="table-danger">{{ post.title }}</td>
                <td class="table-info">{{ post.number_views }} <i class="fa fa-eye"></i></td>
              </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="row">

  <div class="col-sm-6 mt-4">
     <!-- from https://www.w3schools.com/js/js_graphics_chartjs.asp- -->
      <canvas id="myChart" style="width:300px"></canvas>
  </div>

  <div class="col-sm-6 mt-4">
      <canvas id="myChart2" style="width:300px"></canvas>
  </div>

</div>


<script>
//utilisation de chart.js pour faire les graphiques
//values for pie
var xValues = ["House","Apartment","Garage"];
var yValues = [{{ numHouse }}, {{ numApartment }}, {{ numGarage }}];
var colors =
[
  "blue",
  "red",
  "green",
];

//values for bar
var xValues2 = ["To Sell", "To Rent"];
var yValues2 = [{{ numSell }}, {{ numRent }},0];
var colors2 =
[
  "blue",
  "red",
];

new Chart("myChart",
 {
  type: "pie",
  data:
  {
    labels: xValues,
    datasets:
    [{
      backgroundColor: colors,
      data: yValues
    }]
  },
  options:
  {
    title:
    {
      display: true,
      text: "Number of posts by categories"
    }
  }
});
new Chart("myChart2",
 {
    type: "bar",
    data:
    {
        labels: xValues2,
        datasets:
        [{
          backgroundColor: colors2,
          data: yValues2
        }]
    },
      options:
      {
        legend:{display: false},
        title:
        {
          display: true,
          text: "Number of posts by sellOrRent"
        }
      }
});
</script>



{% endblock content %}