{% extends "blog/base.html" %}

{% block content %}

{% if user.is_authenticated %} <!-- si l'utilisateur est connecté -->
<h2>{{ user }}'s watchlist</h2>

{% for favorite in user_watchlist %}
<a class="content-article" href="{% url 'post-detail' favorite.post.id %}">
    <article class="media content-section">
        <!-- show the profile picture of the authors next to the posts-->
        <img class="rounded-circle article-img" src="{{ favorite.post.author.profile.image.url }}">

        <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">{{ favorite.post.date_posted|date:"F d, Y" }}</small>
            </div>
            <div class="post-content">
                <h6 class="post-content-category"><b>{{ favorite.post.get_category_display }}</b></h6>
                <!-- post.id sert à identier la pk (voir urls.py -> urlpatterns) -->
                <h3 class="display-5"><b>€ {{ favorite.post.price }}</b></h3>
                <h6 class="text-uppercase">{{ favorite.post.get_sell_rent_display }}</h6>
                <br>
                <p class="post-content-title"><small>{{ favorite.post.title }}</small></p>
            </div>
        </div>
        <img class="rounded float-left ml-3" src="{{ favorite.post.image.url }}">
    </article>
</a>
{% empty %}
    <h5>Nothing to see here</h5>
{% endfor %}

{% else %} <!-- si l'utilisateur n'est pas connecté -->
    <div class="border-top pt-3">
        <h1>You have to be logged in to access your watchlist</h1>
        <h4><a href="{% url 'login' %}">Click here to log in</a></h4>
    </div>
{% endif %}

{% endblock content %}