body {
  /* font-family: Arial, sans-serif; */
  /*font-family: "Lucida Console", "Courier New", monospace;*/
  /*font-family: Georgia, serif;*/
  /*font-family: 'Courier New', monospace;*/
  font-family: Verdana, sans-serif;
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

#btnFav1{
  float: right;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  /*border-radius: 50px;*/
  padding: 0;
  outline: none;
}

.post-content-content{
  color: #959595;
  text-align: justify;
}

.post-content-title{
  color: #828282;
}

.post-content-category{
  color: #8F8F8F;
}

.site-header .navbar-nav .nav-link {
  color: black;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.bg-steel {
    background-color: #FFCD00;
}

.navbar-profile {
    width: 1.5em;
    height: 1.5em;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.dropdown-menu{
  background-color: #FFCD00;
}

.dropdown-item:hover{
  color: white;
  background-color: #FFCD00;
}

.content-article:hover{
   text-decoration: none;
}

.content-section {
  transition: box-shadow .3s;
  background: #fafafa;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
  /* box-shadow: 1px 2px 3px 3px; */
}

.content-section:hover{
  box-shadow: 0 0 15px rgba(33,33,33,.3);
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.filter-section{
  position: absolute;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* ------------------ MESSAGES CSS ------------------*/
#user-list a.bg-dark {
    background-color: rgb(107, 107, 107);
}

.list-group-item{
    text-align: center;
}

.no-user-selected{
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-left: 15%;
    color: black;
}

.message-zone {
    min-width: 40%;
    max-width: 80%;
    padding: 5px 15px;
}

#user-list a:hover * {
    text-decoration: unset;
}

.users-list-container{
  margin-left: 1em;
}

.messages-content {
    overflow: auto;
    max-width: 100%;
    max-height: 80%;
}

.messages-container{
    width: 150%;
}

.messages-to-send{
    height: 5em;
}

.send-button{
    padding: 20px;
    margin: auto;
}

.fa-paper-plane{
}

/* ----------- END MESSAGES CSS ------------------ */
